<div class="entrada-container">
  <h1>Bem-vindo à Biblioteca</h1>

  <h3> Clique no botão do cadastro desejado</h3>

  <div class="botoes-container">
    <div>
      <button class="cadastrar-autor" routerLink="/listar-autor">Autor</button>
      <button class="cadastrar-assunto" routerLink="/listar-assunto">Assunto</button>
      <button class="cadastrar-livro" routerLink="/livro-lista">Livro</button>
      <button class="cadastrar-relatorio" routerLink="/report-lista">Relatório</button>
    </div>
  </div>
</div>
