<div>
  <h2>Cadastro de Assunto</h2>

  <form [formGroup]="assuntoForm" (ngSubmit)="salvarAssunto()" novalidate>

    <div *ngIf="assuntoId">
      <label for="codigo">Codigo: {{ assuntoId }}</label>
      <!-- <input type="text" id="codigo" name="codigo" formControlName="codigo" readonly> -->
    </div>

    <div>
      <label for="descricao">Descrição:</label>
      <input type="text" id="descricao" name="descricao" formControlName="descricao" required>
    </div>

    <button type="submit">Salvar Assunto</button>
  </form>
  <button class="bto-voltar" routerLink="/assunto-lista">Voltar</button>
</div>
